/* quiz */

.quiz{
	background-color: #e7e7e7;
}

h2{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  font-size: 45px;
  text-align: center;
}

.question{
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 100px;
  max-width: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  position: relative;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  position: left;
  margin-left: 30%;
  font-size: 25px;
  margin-top: 20px;
  position: relative;
}

.answers label{
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

button{
	font-size: 22px;
	background-color: #FFEC01;
	color: #black;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 12px;
	position: relative;
	margin-top: 500px;
}

button:hover{
	background-color: #919191;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#quiz{
	position: relative;
	display: flex;
}

.quizBody{
	display: flex;
	justify-content: center;
	align-content: center;
}

#previous{
	margin-left: 35%;

}

#next{
	margin-left: 5%;

}

